<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/book/loan.css}" />
<title>Book Loan</title>
</head>
<body>

	<div class="container">

		<button id="back" onclick="location.href = '/library-home'">Home</button>



		<h1>Loan Books</h1>
		<form th:action="@{/loan-book}" method="POST">
			<table>

				<tr>
					<td><label>Card Id</label> <input type="text" name="cardId"
						required="required"></td>

				</tr>

				<tr>
					<td><label>ISBN</label></td>


				</tr>
				<tr>
					<td><label>1</label><input type="text" name="isbn"
						required="required"></td>
				</tr>
				<tr>
					<td><label>2</label><input type="text" name="isbn"
						readonly="readonly"></td>
				</tr>
				<tr>
					<td><label>3</label><input type="text" name="isbn"
						readonly="readonly"></td>
				</tr>

				<tr>
					<td>
						<button type="submit">Loan</button>
					</td>
				</tr>




			</table>


		</form>


		<p id="message" th:if="${message} != null" th:text="${message}"></p>
	</div>


	<script>
		
	</script>

</body>
</html>