<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Member Renew</title>
<link rel="stylesheet" th:href="@{/css/member/renew.css}" />
</head>
<body>

	<button id="back" onclick="location.href = '/library-home'">Home</button>


	<h1>Renew Member</h1>
	<form th:action="@{/renew-membership}" method="POST">
		<br /> <label id="field">Card Id</label><input type="number" min="1" max="10000"
			name="cardId" /> 
		<button type="submit">Renew</button>
	</form>

	<p id="message" th:if="${message} != null" th:text="${message}"></p>
</body>
</html>