<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Member Register</title>
<link rel="stylesheet" th:href="@{/css/member/register.css}" />
</head>
<body>


	<button id="back" onclick="location.href = '/library-home'">Home</button>


	<h1>Register Member</h1>
	<form th:action="@{/register-member}" th:object="${newMember}"
		method="POST">
		<table>
			<tr>
				<td><label>Full Name</label> <input type="text"
					name="fullName" required="required" /></td>
			</tr>
			<tr>
				<td><label>Address</label> <input type="text" name="address"
					required="required" /></td>
			</tr>
			<tr>
				<td><label>Phone</label> <input type="text" name="phone"
					required="required" /></td>
			</tr>

			<tr>
				<td><button type="submit">Register</button></td>
			</tr>
		</table>
	</form>




</body>
</html>