@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Lato);

body
{
	background-color: #333333;
}



.logout-form
{
	width:300px;
	height:100px;
	margin-left:5%;
	margin-top:2%;
	
}


#headline
{
	font-family:"Roboto",sans-serif;
	font-weight:500;
	color:white;
	font-size:18px;
	float:left;
	
	
}

.logout-form button
{
	margin-top:2%;
	float:right;
	font-family:"Roboto",sans-serif;
	font-size:20px;
	padding:7px 35px 7px 35px;
	font-weight:bolder;
	text-transform:uppercase;
	color:white;
	background:rgba(255,255,255,0);
	border:solid 3px white;
	
}

.logout-form button:hover,.logout-form button:active,.logout-form button:focus
{
	color:#a6a6a6;
	cursor:pointer;
	border-color: #a6a6a6;

}

.manage-container
{

	border-top:1px solid gray;
	border-bottom:1px solid gray;
	margin-top:5%;
	height:60%;
	
}

.manage-container h1
{
	
	color:white;
	font-size:30px;
	margin-bottom:50px;
	text-align:center;
	font-family:Roboto;
	
}
.buttons
{
	text-align:center;
	margin-top:5%;
	margin-left:0%;
}

.buttons button
{
	margin-right:10px;
	font-family:"Roboto";
	padding:5px 50px 5px 50px;
	background:rgba(85, 85, 85, 1);
	border:solid 2px #959595;
	font-size:25px;
	color:white;
	width:25%;
	
	
	
}

.buttons button:hover,.buttons button:active,buttons button:focus
{
	cursor:pointer;
	background:rgba(85, 85, 85, 0.5);
}





